@media (max-width: 1240px) {
  .hero__block {
    padding-left: unset;
  }
  .pros__block {
    overflow: auto;
  }
  .pros__table {
    width: 1240px;
  }
  .quality__left {
    max-width: 50%;
  }
  .aside {
    padding: 55px 20px 0;
    height: 100vh;
  }
  .best__img {
    max-width: 50%;
  }
  .features__img {
    max-width: 50%;
  }
  .subscribe__title {
    padding-left: unset;
    text-align: left;
  }
}
@media (max-width: 978px) {
  .header {
    padding-top: 30px;
    z-index: 20;
    position: relative;
  }
  .header__logo {
    max-width: 30%;
  }
  .hero {
    padding: 35px 0;
    position: relative;
    z-index: 1;
  }
  .hero__img {
    position: absolute;
    right: 15px;
    max-width: 40%;
    top: 20px;
    z-index: -1;
  }
  .hero__title {
    font-size: 40px;
    line-height: 100%;
  }
  .works {
    padding: 35px 0;
    overflow: hidden;
  }
  .works__descr {
    max-width: unset;
    margin-bottom: 20px;
  }
  .works__list {
    flex-direction: column;
    gap: 20px;
  }
  .works__item {
    max-width: unset;
    top: unset;
  }
  .works__item {
    padding: 20px;
  }
  .works__bg {
    z-index: -1;
  }
  .works__img-1 {
    top: 10px;
    right: 20px;
  }
  .works__img-2 {
    top: 10px;
    right: 20px;
  }
  .works__img-3 {
    top: 10px;
    right: 20px;
  }
  .works__subtitle-3 {
    padding-left: unset;
  }
  .ai {
    padding: 35px 0;
  }
  .ai__title {
    margin-bottom: 30px;
  }
  .ai__subtitle_pl {
    padding-left: unset;
  }
  .ai__flex {
    flex-direction: column;
    height: 100%;
  }
  .ai__text-green {
    height: 100%;
    max-width: unset;
  }
  .ai__text-green-2 {
    height: 100%;
  }
  .ai__grid {
    gap: 20px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .ai__card-small {
    padding: 15px;
  }
  .ai__card:nth-child(1) {
    grid-area: 3/1/4/3;
  }
  .ai__card:nth-child(2) {
    grid-area: 3/3/4/5;
  }
  .ai__card:nth-child(3) {
    grid-area: 3/5/4/7;
  }
  .ai__card:nth-child(4) {
    grid-area: 1/1/3/4;
  }
  .ai__card:nth-child(5) {
    grid-area: 1/4/3/7;
  }
  .share {
    padding: 35px 0;
  }
  .pros {
    padding: 35px 0;
  }
  .pros__title {
    margin-bottom: 25px;
  }
  .pros__block {
    padding: 30px 10px;
  }
  .pros__bg {
    top: -10px;
  }
  .pros__table {
    margin-bottom: 20px;
  }
  .reviews {
    padding: 35px 0;
  }
  .reviews__title {
    margin-bottom: 25px;
  }
  .reviews__card {
    padding: 15px;
  }
  .faq {
    padding: 35px 0;
  }
  .faq__title {
    margin-bottom: 25px;
  }
  .faq__blocks {
    max-width: 70%;
  }
  .faq__block {
    padding: 8px;
  }
  .questions {
    padding: 35px 0;
  }
  .questions__title {
    margin-bottom: 25px;
  }
  .questions__card {
    padding: 12px;
  }
  .questions__grid {
    gap: 10px;
    margin-bottom: 25px;
  }
  .quality__bg {
    top: 0;
    z-index: -1;
  }
  .quality {
    z-index: 2;
    padding: 35px 0;
  }
  .quality__title {
    font-size: 30px;
    line-height: 120%;
  }
  .quality__text {
    font-size: 16px;
    line-height: 120%;
  }
  .quality__item {
    font-size: 16px;
    line-height: 120%;
  }
  .quality__item span {
    font-size: 16px;
    line-height: 120%;
  }
  .footer__flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
  }
  .footer__logo {
    grid-area: 1/1/2/3;
    justify-content: center;
  }
  .footer__list-1 {
    grid-area: 2/1/3/2;
  }
  .footer__list-2 {
    grid-area: 3/1/4/3;
    align-items: center;
  }
  .footer__list-3 {
    grid-area: 2/2/3/3;
    text-align: right;
  }
  .best {
    padding: 35px 0;
  }
  .best__flex {
    display: flex;
    flex-direction: column;
  }
  .best__text {
    text-align: center;
  }
  .best__subtitle {
    text-align: center;
  }
  .best__text-2 {
    text-align: center;
  }
  .best__title {
    margin-bottom: 30px;
  }
  .best__img {
    width: 100%;
    max-width: unset;
  }
  .features__block {
    flex-direction: column;
    gap: 25px;
  }
  .features__img {
    max-width: unset;
  }
  .features__text {
    max-width: unset;
  }
  .features__subtitle {
    text-align: center;
  }
  .features__text {
    text-align: center;
  }
  .features__img_order {
    order: -1;
  }
  .header__burger-btn {
    display: block;
    z-index: 11;
  }
  .header__btn {
    z-index: 11;
  }
  .header__container {
    padding: unset;
  }
  .header__logo {
    padding-left: 15px;
    z-index: 11;
  }
  .header__btns-block {
    padding-right: 15px;
  }
  .menu {
    position: absolute;
    left: -100%;
    top: 0px;
    width: 100%;
    background-color: #FFF;
    padding: 100px 20px 20px;
    transition: transform 0.5s;
  }
  .header__nav {
    flex-basis: unset;
  }
  .menu__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .header.open .menu {
    transform: translateX(100%);
    z-index: 10;
  }
  .header.open .header__btn {
    box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
    -webkit-box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
  }
  .header__btns-block {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-basis: 190px;
  }
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 28px;
    max-width: 50%;
    line-height: 120%;
  }
  .hero__descr {
    font-size: 16px;
    max-width: 50%;
    line-height: 120%;
  }
  .hero__descr span {
    font-size: 16px;
    line-height: 100%;
  }
  .hero__btn {
    max-width: 200px;
    font-size: 14px;
  }
  .hero__img {
    max-width: 50%;
    position: absolute;
    right: 15px;
    bottom: 74px;
    top: unset;
  }
  .hero__text {
    font-size: 16px;
  }
  .hero__rating img {
    max-width: 20%;
  }
  .title {
    font-size: 28px;
    line-height: 120%;
  }
  .works__descr {
    font-size: 16px;
    line-height: 120%;
  }
  .works__descr span {
    font-size: 16px;
  }
  .works__subtitle {
    font-size: 24px;
  }
  .ai__card-small {
    padding: 15px;
  }
  .ai__grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .ai__btn {
    max-width: unset;
  }
  .ai__text-green {
    min-height: 300px;
  }
  .share__flex {
    flex-direction: column;
  }
  .share__title {
    margin-bottom: 20px;
  }
  .share__img {
    max-width: 100%;
  }
  .share__flex {
    gap: 20px;
  }
  .share__subtitle {
    font-size: 26px;
    line-height: 120%;
  }
  .share__subtitle span {
    font-size: 26px;
    line-height: 120%;
  }
  .pros {
    z-index: 1;
  }
  .pros__bg {
    top: 0;
    z-index: -1;
  }
  .reviews__cards {
    flex-direction: column;
  }
  .reviews__card {
    max-width: unset;
    min-height: unset;
  }
  .faq__flex {
    flex-direction: column;
    gap: 15px;
  }
  .faq__blocks {
    max-width: 100%;
  }
  .questions__grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .quality__flex {
    flex-direction: column;
    margin-bottom: 30px;
  }
  .quality__left {
    max-width: unset;
  }
  .quality__title {
    margin-bottom: 20px;
  }
  .writer__header {
    padding: 20px 0 20px 15px;
  }
  .wrapper {
    flex-direction: column;
    gap: 20px;
  }
  .main {
    max-width: unset;
  }
  .writer__form {
    max-width: unset;
  }
  .aside {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
  .aside__img {
    margin-bottom: 20px;
    width: 100%;
  }
  .writer__text-2 {
    margin: 0 auto;
    line-height: 130%;
    margin-bottom: 10px;
  }
  .writer__list {
    align-items: center;
  }
  .main {
    padding-left: unset;
  }
  .features__flex {
    gap: 25px;
  }
  .features__title {
    margin-bottom: 30px;
  }
  .features__subtitle {
    font-size: 24px;
    line-height: 120%;
    margin-bottom: 20px;
  }
  .features {
    padding: 35px 0;
  }
  .features__img {
    width: 100%;
  }
  .features__text {
    line-height: 140%;
  }
  .subscribe__flex {
    flex-direction: column;
  }
  .subscribe__title {
    text-align: center;
  }
  .pluses__grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
}
@media (max-width: 576px) {
  .hero {
    z-index: 1;
    position: relative;
    background-image: unset;
  }
  .header__block {
    justify-content: space-between;
  }
  .header__logo {
    max-width: 40%;
    position: static;
    margin: unset;
  }
  .hero__title {
    max-width: unset;
  }
  .hero__rating img {
    width: 91px;
    height: 14px;
  }
  .hero__img {
    z-index: -1;
    width: 187px;
    height: 170px;
    bottom: 78px;
  }
  .hero__descr {
    max-width: 73%;
    margin-bottom: 50px;
  }
  .hero__text {
    font-size: 13px;
  }
  .title {
    font-size: 24px;
  }
  .works__subtitle {
    font-size: 20px;
  }
  .works__img-1 {
    width: 147px;
    height: 100px;
  }
  .works__img-2 {
    width: 137px;
    height: 79px;
  }
  .works__img-3 {
    width: 133px;
    height: 83px;
  }
  .title__line::after {
    width: 200px;
  }
  .ai__grid {
    padding: 20px;
  }
  .ai__text-green::-moz-placeholder {
    font-size: 20px;
  }
  .ai__text-green::placeholder {
    font-size: 20px;
  }
  .ai__text-green {
    padding: 20px;
  }
  .ai__text-green-2::-moz-placeholder {
    font-size: 20px;
  }
  .ai__text-green-2::placeholder {
    font-size: 20px;
  }
  .ai__text-green-2 {
    padding: 20px;
  }
  .pros__logo {
    width: 150px;
    height: 46px;
  }
  .pros__bg {
    display: none;
  }
  .reviews__stars {
    width: 142px;
    height: 27px;
  }
  .faq__plus {
    width: 18px;
    height: 18px;
  }
  .faq__bg {
    display: none;
  }
  .footer__link img {
    width: 14px;
    height: 10px;
  }
  .ai__subtitle {
    font-size: 20px;
  }
  .reviews__subtitle {
    font-size: 20px;
  }
  .faq__subtitle {
    font-size: 36px;
  }
  .faq__block {
    gap: 15px;
  }
  .quality__title {
    font-size: 24px;
  }
  .quality__bg {
    display: none;
  }
  .writer__title {
    margin-top: 20px;
  }
  .writer__footer-links {
    gap: 10px;
  }
  .best__text {
    font-size: 14px;
    line-height: 120%;
  }
  .best__subtitle {
    font-size: 20px;
    line-height: 120%;
  }
  .best__text-2 {
    line-height: 120%;
  }
  .subscribe {
    padding: 35px 0;
  }
  .subscribe__title {
    font-size: 24px;
  }
  .pluses__icon {
    width: 50px;
    height: 50px;
  }
  .pluses__text {
    font-size: 16px;
    line-height: 120%;
  }
  .footer {
    padding: 0;
  }
  .footer__logo {
    place-self: center;
  }
  .header__link {
    font-size: 20px;
    line-height: 120%;
  }
  .menu {
    padding: 65px 20px 20px;
    top: -10px;
  }
  .menu__list {
    gap: 10px;
  }
}