@charset "UTF-8";
@font-face {
  font-family: "PhilosopherRegular";
  src: url("../fonts/Philosopher-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: bold;
}
@font-face {
  font-family: "Philosopher";
  src: url("../fonts/Philosopher-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.woff2") format("woff");
  font-weight: 400;
  font-style: bold;
}
@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../fonts/Poppins-SemiBold.woff2") format("woff");
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "PoppinsBold";
  src: url("../fonts/Poppins-Bold.woff2") format("woff");
  font-weight: 700;
  font-style: bold;
}
html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Poppins";
  background-color: #FFFFFF;
  margin-right: auto;
  margin-left: auto;
  min-width: 320px;
}

a {
  color: inherit;
  text-decoration: none;
}

:focus-visible {
  outline: none;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

li {
  list-style-type: none;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3 {
  margin: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.container {
  max-width: 1350px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding-top: 68px;
  background-color: #F5EBE6;
}

.header__logo-text {
  font-family: Philosopher;
  font-size: 40px;
  font-weight: 700;
  line-height: 67px;
  letter-spacing: 0em;
  text-align: left;
  color: #2C6A50;
}

.header__btns-block {
  flex-basis: 109px;
}

.header__container {
  max-width: 1394px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.header__block {
  position: relative;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.header__logo {
  max-width: 15%;
  display: block;
}

.header__nav {
  flex-basis: 633px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.header__burger-btn {
  display: none;
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  z-index: 2;
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  background-color: #2F4858;
  left: 5px;
  transition: transform 0.5s, opacity 0.5s, background-color 0.5s;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.header.open .header__burger-btn span {
  background-color: #2F4858;
}

.header.open .header__burger-btn span:nth-child(1) {
  transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
  opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
  transform: translateY(0) rotate(-45deg);
}

.header__link {
  font-family: PhilosopherRegular;
  font-size: 28px;
  font-weight: 400;
  line-height: 48px;
  letter-spacing: 0em;
  color: #2F4858;
  text-align: left;
}

.header__link:hover {
  text-decoration: underline;
}

.header__btn {
  padding: 9px 0;
  max-width: 109px;
  width: 100%;
  background-color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  color: #0F172A;
  text-align: center;
}

.header__btn:hover {
  background-color: rgb(44, 106, 80);
  color: rgb(255, 255, 255);
}

.hero {
  background-image: url(../img/hero_bg.svg);
  background-repeat: no-repeat;
  background-position-y: 9px;
  background-color: #F5EBE6;
  padding: 71px 0 80px;
}

.hero__container {
  max-width: 1527px;
  padding: 0 15px;
  margin-right: auto;
  margin-left: auto;
}

.hero__title {
  font-family: Philosopher;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 67.2px;
  /* 120% */
  text-transform: capitalize;
  color: #2F4858;
  max-width: 556px;
  margin-bottom: 30px;
}

.hero__descr {
  font-size: 20px;
  max-width: 577px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 180% */
  color: rgba(33, 37, 41, 0.75);
  margin-bottom: 30px;
}

.hero__descr span {
  font-family: "PoppinsBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.green-btn {
  display: block;
  padding: 13px 0;
  width: 100%;
  border-radius: 3px;
  background: #2C6A50;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

.green-btn:hover {
  opacity: 0.9;
}

.hero__btn {
  max-width: 316px;
  margin-bottom: 30px;
}

.hero__rating {
  display: flex;
  gap: 9px;
  align-items: center;
}

.hero__text {
  color: rgba(33, 37, 41, 0.75);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 180% */
}

.hero__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 106px;
}

.title {
  color: #2F4858;
  font-family: Philosopher;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 120% */
}

.works {
  padding: 59px 0 189px;
}

.works__title {
  margin-bottom: 23px;
}

.works__descr {
  font-family: Poppins;
  max-width: 391px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px;
  /* 180% */
  color: rgba(33, 37, 41, 0.75);
}

.works__descr span {
  font-family: "PoppinsBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
}

.works__list {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.works__item {
  position: relative;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
  -webkit-box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
  max-width: 420px;
  width: 100%;
}

.works__subtitle {
  color: #2F4858;
  font-family: Philosopher;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 171.429% */
  margin-bottom: 38px;
}

.works__subtitle-2 {
  margin-bottom: 32px;
}

.works__subtitle-3 {
  padding-left: 15px;
  margin-bottom: 30px;
}

.text {
  color: #0F172A;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 28.8px;
  /* 180% */
}

.works__img {
  position: absolute;
}

.works__img-1 {
  top: 54px;
  right: 65.5px;
}

.works__item-1 {
  top: 81px;
  padding: 85px 54px 52px 37px;
}

.works__item-2 {
  top: 11px;
  padding: 67px 36px 44px 34px;
}

.works__img-2 {
  top: 44px;
  right: 38.5px;
}

.works__item-3 {
  top: -59px;
  padding: 88px 66px 61px 23px;
}

.works__img-3 {
  top: 62px;
  right: 51.5px;
}

.works__blocks {
  position: relative;
}

.ai {
  padding: 61px 0 80px;
  background-color: #F5EBE6;
}

.descr {
  color: #C27B7F;
  text-align: center;
  font-family: "PoppinsSemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
  letter-spacing: 4px;
  text-transform: uppercase;
}

.ai__text {
  margin-bottom: 5px;
}

.ai__title {
  text-align: center;
  margin-bottom: 69px;
}

.ai__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.title__line::after {
  content: "";
  background-image: url(../img/after.svg);
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
}

.ai__title::after {
  margin: 10px auto 0;
}

.ai__grid {
  display: grid;
  background-color: #FFF;
  box-shadow: 10px 10px 0px 0px #C27B7F;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  gap: 45px 33px;
  padding: 39px 47px;
}

.ai__card:nth-child(1) {
  grid-area: 3/1/4/2;
}

.ai__card:nth-child(2) {
  grid-area: 3/2/4/3;
}

.ai__card:nth-child(3) {
  grid-area: 3/3/4/4;
}

.ai__card:nth-child(4) {
  grid-area: 1/1/2/4;
}

.ai__card:nth-child(5) {
  grid-area: 2/1/3/4;
  box-shadow: unset;
}

.ai__card {
  border-radius: 5px;
  background: var(--themeatelier-net-nero, #FFF);
  box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
  -webkit-box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
}

.ai__card_textarea {
  box-shadow: unset;
}

.ai__card-small {
  padding: 41px 47px;
}

.ai__subtitle {
  color: #2F4858;
  font-family: Philosopher;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33.6px;
  /* 120% */
  margin-bottom: 30px;
}

.ai__subtitle_pl {
  padding-left: 22px;
  margin-bottom: 26px;
}

.ai__subtitle_big {
  text-align: center;
  margin-bottom: 19px;
}

.ai__text-green {
  padding: 30px 35px;
  background-color: #2C6A50;
  min-height: 150px;
  color: #fff;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
  max-width: 815px;
  width: 100%;
}

.ai__text-green-2 {
  padding: 30px 35px;
  background-color: #2C6A50;
  min-height: 150px;
  color: #fff;
  font-family: Poppins;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  /* 150% */
  max-width: unset;
  width: 100%;
}

.ai__text-green-2::-moz-placeholder {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.ai__text-green-2::placeholder {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.ai__text-green::-moz-placeholder {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.ai__text-green::placeholder {
  font-family: Poppins;
  font-size: 30px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
}

.ai__text_mb {
  margin-bottom: 28px;
}

.ai__text-2_mb {
  margin-bottom: 10px;
}

.ai__link {
  display: flex;
  align-items: center;
  gap: 3.5px;
  color: #C27B7F;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
  margin-bottom: 23px;
}

.ai__btn {
  max-width: 316px;
  background-color: #FFC107;
  padding: 10px 0;
}

.ai__btn-2 {
  max-width: 316px;
  padding: 10px 0;
  display: block;
  margin: 0 auto;
}

.ai__link::after {
  content: "";
  background-image: url(../img/arrow.svg);
  background-repeat: no-repeat;
  display: block;
  width: 7.5px;
  height: 12px;
}

.share {
  padding: 60px 0 100px;
}

.share__container {
  max-width: 1278px;
  padding: 0 15px;
  margin: 0 auto;
}

.share__title {
  text-align: center;
  margin-bottom: 66px;
}

.share__title::after {
  margin-top: 16px;
}

.share__flex {
  display: flex;
  gap: 51px;
  align-items: center;
}

.share__block {
  max-width: 488px;
  width: 100%;
}

.share__subtitle span {
  color: #FFC107;
  font-family: Philosopher;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.4px;
}

.share__subtitle {
  font-family: Philosopher;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.4px;
  color: #2F4858;
  margin-bottom: 17px;
}

.share__text {
  max-width: 471px;
  margin-bottom: 21px;
}

.share__list {
  display: flex;
  flex-direction: column;
  gap: 3px;
  margin-bottom: 19px;
}

.share__img {
  max-width: 80%;
}

.share__item {
  display: flex;
  gap: 18px;
  align-items: center;
}

.share__item::before {
  content: "";
  background-image: url(../img/gal.svg);
  background-repeat: no-repeat;
  width: 12px;
  height: 10px;
  display: block;
}

.share__relative {
  position: relative;
}

.select__arrow {
  position: absolute;
  top: 15px;
  right: 15px;
}

.share__select {
  padding-left: 15px;
  max-width: 488px;
  height: 40px;
  width: 100%;
  border-radius: 3px;
  background-color: #FFF;
  border: 1px solid #0F172A;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin-bottom: 21px;
}

.share__option {
  color: rgba(15, 23, 42, 0.5);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  cursor: pointer;
}

.share__btn {
  padding: 13px 0;
  max-width: 488px;
  width: 100%;
  border-radius: 3px;
  background: #FFC107;
  box-shadow: 3px 3px 0px 0px #FFF;
  -webkit-box-shadow: 3px 3px 0px 0px #FFF;
  margin-bottom: 25px;
}

.share__btn:hover {
  opacity: 0.9;
}

.share__text-2 {
  color: #0F172A;
  font-family: Poppins;
  font-size: 8px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 300% */
  text-align: center;
  margin-bottom: 3px;
}

.share__btn-2 {
  padding: 10px 0;
  max-width: 488px;
  display: flex;
  gap: 7px;
  align-items: center;
  justify-content: center;
}

.best {
  padding: 60px 0 80px;
  background-color: #F5EBE6;
}

.best__container {
  max-width: 1335px;
  margin: 0 auto;
  padding: 0 15px;
}

.best__title {
  text-align: center;
  margin-bottom: 80px;
}

.best__title::after {
  margin-top: 17px;
}

.best__flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
}

.best__block {
  max-width: 521px;
}

.best__text {
  color: #2F4858;
  text-align: right;
  font-family: Philosopher;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px;
  /* 192% */
  margin-bottom: 10px;
}

.best__subtitle {
  color: #2F4858;
  text-align: right;
  font-family: Philosopher;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.4px;
  /* 106.667% */
  margin-bottom: 30px;
}

.best__text-2 {
  color: #0F172A;
  text-align: right;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 38px;
  /* 237.5% */
}

.features {
  padding: 60px 0 88px;
}

.features__container {
  max-width: 1335px;
  margin: 0 auto;
  padding: 0 15px;
}

.features__title {
  text-align: center;
  margin-bottom: 85px;
}

.features__title::after {
  margin-top: 30px;
}

.features__flex {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.features__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.features__img {
  max-width: 619px;
  border-radius: 6px;
  background: lightgray -14.508px -4.933px/103.134% 141.599% no-repeat;
  box-shadow: 0px 1px 15px 0px rgba(1, 6, 33, 0.15);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(1, 6, 33, 0.15);
}

.features__subtitle {
  color: #2F4858;
  font-family: Philosopher;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 38.4px;
  /* 120% */
  margin-bottom: 40px;
}

.features__text {
  max-width: 583px;
  color: #2F4858;
  font-family: PhilosopherRegular;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 38.4px;
  /* 192% */
}

.features_right {
  text-align: right;
}

.features__text span {
  font-weight: 700;
}

.pros {
  position: relative;
  background-color: #F5EBE6;
  padding: 60px 0 80px;
}

.pros__bg {
  background-image: url(../img/pros_bg.svg);
  background-repeat: no-repeat;
  background-position-x: 100%;
  position: absolute;
  right: 95px;
  top: -35px;
}

.pros__title {
  text-align: center;
  margin-bottom: 69px;
}

.pros__title::after {
  margin-top: 15px;
}

.pros__block {
  padding: 53px 50px 34px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 10px 10px 0px 0px #C27B7F;
  -webkit-box-shadow: 10px 10px 0px 0px #C27B7F;
  position: relative;
}

.pros__table {
  width: 100%;
}

.pros__table th:first-child {
  text-align: left;
  border-right: 1px solid #EFF0F7;
  width: 311px;
}

.pros__table th {
  color: #2F4858;
  text-align: center;
  font-family: Philosopher;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 33.6px;
  /* 120% */
  border-bottom: 1px solid #EFF0F7;
}

.pros__table th:last-child {
  border-left: 1px solid #EFF0F7;
}

.pros__table th:nth-child(2) {
  border-right: 1px solid #EFF0F7;
  width: 280px;
}

.pros__table th:nth-child(3) {
  width: 330px;
}

.pros__logo {
  max-width: 155px;
}

.pros__table td {
  color: #0F172A;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
  padding: 10px 0;
  border-bottom: 1px solid #EFF0F7;
}

.pros__table td:first-child {
  border-right: 1px solid #EFF0F7;
}

.pros__table td:last-child {
  border-left: 1px solid #EFF0F7;
}

.pros__table td:nth-child(2) {
  border-right: 1px solid #EFF0F7;
}

.pros__table tr:last-child td {
  border: unset;
}

.pros__table .table__btn {
  padding-top: 30px;
}

.pros__table td:not(:first-child) {
  text-align: center;
}

.pros__btn {
  padding: 11px 0;
  border-radius: 3px;
  background: #C27B7F;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  max-width: 134px;
  width: 100%;
  display: block;
  margin: 0 auto;
}

.pros__btn:hover {
  opacity: 0.9;
}

.pros__table .orange {
  color: #E76E36;
  text-align: center;
  font-family: "PoppinsSemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  /* 150% */
}

.reviews {
  padding: 61px 0 107px;
}

.reviews__container {
  max-width: 1324px;
  margin: 0 auto;
  padding: 0 15px;
}

.reviews__descr {
  margin-bottom: 8px;
}

.reviews__title {
  margin-bottom: 83px;
  text-align: center;
}

.reviews__title::after {
  margin-top: 17px;
}

.reviews__cards {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 32px;
}

.reviews__card {
  padding: 45px 36px 26px;
  max-width: 411px;
  border-radius: 6px;
  background: #FFF;
  box-shadow: 0px 1px 15px 0px rgba(1, 6, 33, 0.15);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(1, 6, 33, 0.15);
  min-height: 280px;
}

.reviews__subtitle {
  color: #2F4858;
  text-align: center;
  font-family: Philosopher;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  /* 120% */
  margin-bottom: 8px;
}

.reviews__stars {
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
}

.reviews__text {
  color: #0F172A;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.reviews__btn {
  max-width: 200px;
  width: 100%;
  padding: 10px 0;
  border-radius: 3px;
  background: #C27B7F;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
  display: block;
  margin: 0 auto;
}

.reviews__btn:hover {
  opacity: 0.9;
}

.faq {
  padding: 63px 0 122px;
  background: #F5EBE6;
  position: relative;
}

.faq__bg {
  position: absolute;
  left: -33px;
  top: -56px;
}

.faq__title {
  text-align: center;
  margin-bottom: 91px;
}

.faq__descr {
  margin-bottom: 9px;
}

.faq__title::after {
  margin-top: 18px;
}

.faq__subtitle {
  color: #2F4858;
  text-align: center;
  font-family: Philosopher;
  font-size: 96px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.faq__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.faq__blocks {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 744px;
  width: 100%;
}

.faq__block {
  display: flex;
  flex-direction: column;
  align-items: left;
  padding: 16px 0 16px 24px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0px 1px 2px -1px rgba(0, 0, 0, 0.1), 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

.faq__text {
  color: #2F4858;
  font-family: Philosopher;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  /* 140% */
}

.faq__header {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.faq__plus {
  transition: transform 0.3s ease-in-out;
}

.faq__text {
  margin: 0;
  flex-grow: 1;
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding-top: 0;
  /* Убираем изначальный отступ сверху */
  opacity: 0;
  /* Изначально скрываем ответ */
}

.accordion__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-out;
}

.accordion__item_show .faq__plus,
.accordion__item_slidedown .faq__plus {
  transform: rotate(-180deg);
}

.accordion__content {
  padding: 0.75rem 1rem;
  background: #fff;
}

.accordion__item:not(.accordion__item_show) .accordion__body {
  display: none;
}

.questions {
  padding: 60px 0 100px;
}

.questions__container {
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 15px;
}

.questions__descr {
  margin-bottom: 6px;
}

.questions__title {
  text-align: center;
  margin-bottom: 83px;
}

.questions__title::after {
  margin-top: 18px;
}

.questions__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 36px 33px;
}

.questions__card {
  max-width: 400px;
  padding: 16px 18px 20px 23px;
  border-radius: 6px;
  background: var(--themeatelier-net-nero, #FFF);
  box-shadow: 0px 1px 15px 0px rgba(1, 6, 33, 0.15);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(1, 6, 33, 0.15);
}

.questions__subtitle {
  color: #C27B7F;
  font-family: Philosopher;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 19.2px;
  /* 120% */
  margin-bottom: 8px;
}

.questions__text {
  color: #0F172A;
  font-family: Poppins;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.questions__btn {
  max-width: 316px;
  display: block;
  margin: 0 auto;
  padding: 10px 0;
}

.subscribe {
  padding: 60px 0;
  background-color: #F5EBE6;
}

.subscribe__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.subscribe__title {
  color: #2F4858;
  text-align: right;
  font-family: PhilosopherRegular;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  /* 120% */
  padding-left: 50px;
}

.subscribe__input {
  max-width: 281px;
  width: 100%;
  height: 50px;
  padding: 12px 0 12px 15px;
  border-radius: 3px;
  background: #FFF;
  border: unset;
  box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
  -webkit-box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
}

.subscribe__form {
  display: flex;
  max-width: 629px;
  width: 100%;
  justify-content: space-between;
  gap: 10px;
}

.subscribe__input::-moz-placeholder {
  color: #757575;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe__input::placeholder {
  color: #757575;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe__btn {
  max-width: 301px;
  padding: 10px 0;
}

.quality {
  padding: 60px 0 74px;
  background-color: #FFF;
  position: relative;
  z-index: 1;
}

.quality__bg {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.quality__flex {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;
  margin-bottom: 80px;
}

.quality__left {
  max-width: 600px;
}

.quality__title {
  color: #2F4858;
  font-family: PhilosopherRegular;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  /* 120% */
  margin-bottom: 40px;
}

.quality__title span {
  color: #FFC107;
}

.quality__text {
  font-family: Poppins;
  font-size: 24px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #1D2435;
}

.quality__text_mb {
  margin-bottom: 30px;
}

.quality__text span {
  font-family: PoppinsBold;
  font-weight: 700;
  color: #FFC107;
}

.quality__text_mb {
  margin-bottom: 24px;
}

.quality__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 48px;
}

.quality__item {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #0F172A;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.quality__item span {
  font-family: "PoppinsBold";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.quality__item::before {
  content: "";
  background-image: url(../img/gal-big.svg);
  background-repeat: no-repeat;
  display: block;
  width: 20px;
  height: 20px;
}

.quality__btn {
  padding: 9px 0;
}

.quality__imgs {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.pluses {
  padding: 40px 0;
  background: #F5EBE6;
}

.pluses__container {
  max-width: 926px;
  margin: 0 auto;
  padding: 0 15px;
}

.pluses__grid {
  display: grid;
  grid-template-columns: repeat(4, 133px);
  justify-content: space-between;
}

.pluses__block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  max-width: 133px;
}

.pluses__text {
  color: #2C6A50;
  text-align: center;
  font-family: Philosopher;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: auto;
}

.pluses__icon {
  width: 100px;
  height: 100px;
}

.pluses__icon_width {
  max-width: 80px;
  max-height: 80px;
}

.footer {
  padding: 50px 0 35px;
}

.footer__container {
  max-width: 1333px;
  margin: 0 auto;
  padding: 0 15px;
}

.footer__flex {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  max-width: 190px;
  flex-basis: 191px;
}

.footer__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer__list-1 {
  flex-basis: 194px;
}

.footer__list-2 {
  flex-basis: 194px;
}

.footer__item {
  color: #676768;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 150% */
}

.footer__link {
  display: flex;
  gap: 8px;
  align-items: center;
}

.footer__item_main {
  color: #C27B7F;
  font-family: "PoppinsSemiBold";
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 28.8px;
  /* 180% */
  margin-bottom: 5px;
}

.footer__item_bm {
  margin-bottom: 17px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  max-width: 310px;
  flex-basis: 310px;
}

.footer__input {
  width: 100%;
  padding: 15px;
  background: #FFF;
  box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
  -webkit-box-shadow: 2px 0px 15px 5px rgba(1, 6, 33, 0.06);
  margin-bottom: 13px;
  border: unset;
}

.footer__input::-moz-placeholder {
  color: #757575;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__input::placeholder {
  color: #757575;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer__btn {
  width: 98%;
  padding: 10px 0;
  background: #C27B7F;
  color: #FFF;
  text-align: center;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  /* 187.5% */
}

.footer__btn:hover {
  opacity: 0.9;
}

.writer__header {
  padding: 20px 0 20px 105px;
  border-bottom: 0.5px solid rgba(15, 23, 42, 0.3019607843);
}

.writer__link img {
  max-width: 140px;
}

.writer__container {
  max-width: 1790px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  max-width: 694px;
  width: 100%;
  padding-left: 90px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
}

.writer__title {
  font-family: Philosopher;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: left;
  color: #2F4858;
  margin-top: 60px;
  margin-bottom: 30px;
}

.writer__form {
  max-width: 604px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.writer__text {
  color: #2F4858;
  font-family: Philosopher;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 240% */
}

.input-block {
  display: flex;
  gap: 15px;
  align-items: center;
  padding-left: 20px;
  border: 0.3px solid rgba(15, 23, 42, 0.6980392157);
  cursor: pointer;
  border-radius: 5px;
}

input[type=radio],
label {
  cursor: pointer;
}

input[type=radio] {
  position: relative;
  height: 15px;
  width: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

input[type=radio]::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 0.5px solid rgba(15, 23, 42, 0.6980392157);
}

input[type=radio]:checked::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 15px;
  height: 15px;
  border: 5px solid #2C6A50;
  border-radius: 50%;
  background-color: #FFF;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.writer__btn {
  padding: 10px 0;
}

.aside {
  background-color: #F5EBE6;
  padding: 55px 75px 0;
  height: 100vh;
}

.aside__img {
  margin-bottom: 54px;
  max-width: 365px;
}

.purchase__label {
  display: block;
  margin-bottom: 6px;
  color: #2F4858;
  font-family: Philosopher;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.purchase__select {
  background-color: #FFF;
  width: 100%;
  border-radius: 5px;
  border: 0.3px solid rgba(15, 23, 42, 0.7);
  padding: 0px 0 0px 20px;
  color: #2F4858;
  font-family: Philosopher;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 240% */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.purchase__input {
  width: 100%;
  border-radius: 5px;
  border: 0.3px solid rgba(15, 23, 42, 0.7);
  padding: 0px 0 0px 20px;
  color: #2F4858;
  font-family: Philosopher;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 48px;
  /* 240% */
}

.quantity__label {
  display: block;
  margin-bottom: 10px;
}

.purchase__price-text {
  display: block;
  margin-bottom: 20px;
}

.name__label {
  display: block;
  margin-bottom: 20px;
}

.email__label {
  display: block;
  margin-bottom: 15px;
}

.email__input {
  margin-bottom: 30px;
}

.email__label::after {
  content: "";
  display: block;
  height: 0.5px;
  width: 100%;
  background: rgba(15, 23, 42, 0.3);
}

.purchase__btn {
  max-width: unset;
  margin-bottom: 20px;
}

.purchase__flex {
  display: flex;
  border-radius: 5px;
  border: 0.3px solid rgba(15, 23, 42, 0.7);
  padding: 0px 20px;
  margin-bottom: 30px;
}

.line {
  display: block;
  height: 0.5px;
  width: 100%;
  background: rgba(15, 23, 42, 0.3);
  margin-bottom: 20px;
}

.purchase__no-border {
  border: unset;
  color: rgba(47, 72, 88, 0.5);
  font-family: Philosopher;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px;
  /* 320% */
}

.purchase__input_right {
  text-align: right;
  max-width: 110px;
}

.purchase__btn-2 {
  max-width: unset;
  padding: 10px 0;
}

.purchase__relative {
  position: relative;
}

.purchase__arrow {
  position: absolute;
  right: 20px;
  top: 20px;
}

.date__label {
  display: block;
  margin-bottom: 30px;
}

.date__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}

.gift-email__label {
  margin-bottom: 20px;
}

.gift-email__label::after {
  display: none;
}

.gift__input {
  margin-bottom: unset;
}

.message__label {
  display: block;
  margin-bottom: 20px;
}

.gift__textarea {
  min-height: 100px;
  width: 100%;
  border-radius: 5px;
  border: 0.3px solid rgba(15, 23, 42, 0.7);
  margin-bottom: 30px;
}

.back-link img {
  transform: rotate(180deg);
}

.back-link {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
  color: #2F4858;
  font-family: Philosopher;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
}

.writer__footer {
  background-color: #F5EBE6;
  padding: 20px 0;
}

.writer__footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  color: #0F172A;
}